.miCarrito{
    position: fixed;
    width: 40%;
    height: 100vh;
    background: #f5f2f2;
    display: flex;
    flex-direction: column;
    align-items: start;
    right: 0;
    top: 81px;
}

.unidad{
    margin-top: 40px;
}