.producto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 16rem;
    height: 55vh;
    margin-top: 4em;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 5px;
}

.producto:hover {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);

}


.boton a{
    display: flex;
    margin-top: 4em;
    width: 6em;
    height: auto;
    text-align: center;
    text-decoration: none;
    background-color: #a9d47b;
    color: white;
    padding: 10px 15px;
    border-radius: 7px;
    font-weight: bold;
    transition: background-color 0.2s;
}

.boton a:hover{
    background: #74be24;
    animation: 3s linear infinite;
}