.container{
    width: 400px;
    height: auto;
}



 .columnas{
    max-width: 1024px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
.columna{
    text-transform: capitalize;
    font-size: 1.4em;
     width: 16em;
     padding: 22px 12px;
    box-sizing: border-box;
    cursor: pointer;
}

.categoria{
    width: 100%;
    color:white;
    background: #323232;
    
}
/*
@media screen and (max-width:768px){
    .columnas{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: auto;
    }
    
}
 @media screen and (max-width:480px){
    .columnas{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: auto;
    }

}  */

